services:
  app:
    build: .
    ports:
      - "3000:8080"
    container_name: preact-app
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage
    container_name: qdrant
    restart: unless-stopped
