// ==========================================
// GENERAL ELEMENTS
// ==========================================

@use 'variables' as *;

.app {
  font-family: Arial, sans-serif;
  max-width: $max-width-app;
  margin: 0 auto;
  padding: $spacing-xxxxxl;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: $breakpoint-tablet) {
    padding: $spacing-xl;
    max-width: 100%;
  }
}

.header {
  text-align: center;
  margin-bottom: $spacing-xxxxxxl;

  h1 {
    color: $color-text-primary;
  }
}